<h2 class="mt-4">Expense Summary</h2>

<div class="card p-3 mb-3">
    <h5>Total Room Expense: ₹{{ total }}</h5>
    <h5>Equal Share Per Person: ₹{{ share }}</h5>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Money Paid</th>
            <th>Equal Share</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        {% for person, balance in balances.items() %}
        <tr>

            <td>{{ person }}</td>

            <td>
                ₹{{ share + balance }}
            </td>

            <td>
                ₹{{ share }}
            </td>

            <td>
                {% if balance > 0 %}
                    Should Receive ₹{{ balance }}
                {% elif balance < 0 %}
                    Should Pay ₹{{ balance * -1 }}
                {% else %}
                    Settled
                {% endif %}
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>